
body {
    background-color:#618685;
    font-family: 'Shantell Sans', cursive;
  margin: 0;
}

hr{
 
  border-color: grey;
  border-style: none ;
 border-top-style: dotted;
  width: 5%;
border-width: 5px;
}
h1 {
   color:rgb(228, 215, 215);
   
}   

h3 {
color: white;
}
.intro{
   text-align: center;
    font-weight: bold;
}
p{
  color: white;
}
li{ color: white;

}
a{
  color: rgb(170, 115, 115);
}
td{
  color: wheat;
}
th{
  color: white;
}
