
body {
    background-color: #eaf6f6;
    font-family: 'Shantell Sans', cursive;

}

hr{
 
  border-color: grey;
  border-style: none ;
 border-top-style: dotted;
  width: 5%;
border-width: 5px;
}
h1 {
   color: #66bfbf;
   font-family: 'Shantell Sans', cursive;
}   

h3 {
  color: #66bfbf;

}
.intro{
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
}
